#about{
    
}

.imgAbout{
    filter: grayscale(0.8);
    height:80%;
    margin-top: 30px;
}

.contPrincipal{
    height:100%;
    width:100%;
    
}

.contAbout{
    height: 100%;
    width:100%;
}

.divImage{
    padding-top: 60px;
}

.divAbout{
   padding-top: 200px;
}


#descripcion{
    font-size:20px;
}


@media (max-width:600px) {
    #descripcion{
        font-size:16px;
    }

    .divAbout h2{
        font-size: 20px;
        text-align: center;
    }

    .divAbout{
        margin: 20px 0px;
        padding-top: 0px;
    }

    #about{
        height:100%;
    }

    .contAbout{
        padding:0;
    }

    .divImage{
        margin: 0px 0px; 
        padding-top: 0px;
    }

    .imgAbout{
        height: 95%;
    }
}

@media (min-width:600px) and (max-width:1000px) {
    #about{
        height:100%;
    }
}