#about{
    
}

.imgAbout{
    filter: grayscale(0.8);
    height:80%;
}

.contPrincipal{
    height:100%;
    width:100%;
    padding-top:5%;
}

.contAbout{
    height: 100%;
    width:100%;
}

.divImage{
    margin: 50px 0px;
   
    
}

.divAbout{
    margin: 50px 0px;
    width:100%;
   
}


#descripcion{
    font-size:20px;
}


@media (max-width:600px) {
    #descripcion{
        font-size:12px;
    }

    .divAbout h1{
        text-align: center;
    }
    #about{
        height:100%;
    }

    .contAbout{
        padding:0;
    }
}

@media (min-width:600px) and (max-width:1000px) {
    #about{
        height:100%;
    }
}