#contact{
    position: relative;
    background-color:rgb(173, 169, 169);
}

.box{
    padding:60px;
    background-color:rgb(255, 255, 255);
}

.formContainer{
    background-color:white;
    margin-top:30px;
    padding: 50px;
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 0px 21px 39px -8px rgba(0,0,0,0.89);
    -webkit-box-shadow: 0px 21px 39px -8px rgba(0,0,0,0.89);
    -moz-box-shadow: 0px 21px 39px -8px rgba(0,0,0,0.89);
}

.espacio{
    height:20px;
}



.form-control{
    border: none;
    border: transparent;
    border-bottom: 2px solid rgb(172, 171, 171);

}

.contactUnderline{
    height:5px;
    width:8%;
    background-color:rgb(133, 132, 132);
}

.contactsTitle{
    padding: 70px 30px;
    
}

.contacts{
    margin: 40px;
    padding: 40px;
}

.getTouchUnderline{
    height:5px;
    width:8%;
    margin-bottom: 20px;
    background-color:rgb(133, 132, 132);

}
.mediaContact{
    padding: 10px;
    border: 1px solid rgb(146, 145, 145);
    
    border-radius: 20px;
    box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
    -webkit-box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
}

.getInTouchP{
    font-size:20px;
}


.contact{
    padding: 20px;
<<<<<<< HEAD
    margin: 10px 0px;
    border-radius:40%;
=======
    
>>>>>>> da0c025a4a0338ef4d55bca80ffd72a71138e934
    background-color:rgb(90, 89, 89)

}


.contact i{
    text-align: center;
    font-size:40px;
    color: white;
}

.contactP{
    margin:20px;
    font-size:25px;
}

#contact input{ 
    margin: 26px 0px;
}

#contact textarea{ 
    margin: 12px 0px;
    resize: none;
}

#contact button{ 
    color: black;
    margin: 12px 0px;
    padding: 10px;
    width: 13%;
    border: 2px solid rgb(151, 148, 148);
    border-radius:10px;
}



@media (max-width:600px){
    .box{
        margin: 20px 0px;
        padding: 20px;
        background-color:rgb(173, 169, 169);
    }

    .title{
        padding-left: 30px;
    }
    .contactUnderline{
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .contactsTitle{
        margin:0px;
        padding:20px 0px;
    }

    .getInTouchP{
        font-size: 16px;
    }

    .mediaContact{
        padding: 10px;
        border-bottom:1px outset black;
        border-radius: 20px;
        box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
        -webkit-box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
        -moz-box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
    }

    .contact{
        padding:0px;
        padding-top:11px;
        border-radius: 0px;
    }

    .contact i{
        font-size: 30px;
    }

    .contactP{
        font-size: 20px;
    }

    .formContainer{
        padding: 20px;
    }
}