.proyectContainer{
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow:hidden;
    margin: 20px 0px;
    height: 100%;
    border: 1px solid rgb(155, 154, 154);
}

.circleBar{
    padding: 10px 0px;
    background-color:rgb(136, 135, 135);
    position: sticky;
    z-index: 2;
}

.circle{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color: rgb(179, 176, 176);
    margin: 0px 3px;
}

.imgProyect{
    width:100%;
    transition: all 10s ease;
}

.imgProyect:hover{ 
    transform: translateY(-70%);
}

.linkProyect{
    font-size:100%;
}

@media  (max-width:600px) {
    .proyectContainer{
        margin:0px;
    }
}