#skills{
  background-color: rgb(238, 236, 236);
}

.skillContainer{
  background-color:white;
  border: 4px solid white;
  box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
  -webkit-box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
  -moz-box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
}

.skillContainer p{
  font-size:15px;
}


.iconoSkillContainer{
  background-color: rgb(49, 48, 48);
  border-radius:30px;
  width:30%;
  padding:10px;
}

.iconoSkill{
  font-size:40px;
}

.iconosSkills i{
  font-size:25px;
  margin-left: 5px;
  margin-right: 5px;
}