#skills{
  background-color: rgb(201, 199, 199);
  padding: 100px 0px;
}

.tituloSkill{
  margin-bottom: 40px;
}

.skillContainer{
  margin: 20px 5px;
  padding: 20px 0px;
  background-color:white;
  border: 2px solid rgb(185, 185, 185);
  box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
  -webkit-box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
  -moz-box-shadow: 0px 12px 2px -2px rgba(0,0,0,0.76);
  width: 32%;
}

.skillContainer p{
  font-size:15px;
}


.iconoSkillContainer{
  background-color: rgb(49, 48, 48);
  border-radius:30px;
  width:30%;
  padding:10px;
}

.iconoSkill{
  font-size:40px;
}

.iconosSkills i{
  font-size:25px;
  margin-left: 5px;
  margin-right: 5px;
}


@media  (max-width:600px) {
  #skills{
    padding: 20px 0px;
  }
  .iconoSkillContainer{
    width: 50%;

  }
  .iconoSkill{
    font-size: 30px;
  }

  .skillContainer{
    width: 100%;
    margin: 20px 0px;
  }

  .skillContainer p{
    font-size: 17px;
  }

  .skillContainer h4{
      margin: 10px 0px;
     
  }
}